.nav__conteiner{
    width: 100vw;
    height: 8vh;
    margin-left: 5rem;
 

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30vw;
}

.nav__logo{
    width: 60px;
    height: 18px;
}